 *{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

html {
    background-color: white;
    font-family: 'Raleway', 'Caveat', 'Arial', 'sans-serif';
    /*main font Gugi and other extras*/
    font-size: 20px;
    /*default size*/
}
.row {
    max-width: 1400px;
    margin: 0px auto;
}

.box {
    padding: 1%;
}

.long-copy {
    text-align: justify;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}
/*Do not change these code*/
/*_____________________________________________*/




/*---------------------------------------------*/
/*Reusable Code*/


.long-copy {
    text-align: justify;
    padding-right: 100px;
    
}



h1 {
    font-size: 150%;
    margin-top: 25px;
    margin-bottom: 10px;
    color: black;
    word-spacing: 5px;
    letter-spacing: 3px;
    text-align: center;
}




h2 {
    font-size: 150%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 3px;
}

h2:after {
    display: block;
    height: 3px;
    background-color: orange;
    content: " ";
    width: 220px;
    margin: 0 auto;
    margin-top: 5px;
}


h3 {
    font-size: 110%;
    margin-bottom: 15px;
}



h4 {
    font-size: 150%;
    padding-top: 20px;
    color: #3e8179;
    letter-spacing: 3px;
}


/*Reusable Code*/
/*_____________________________________________*/



/*_____________________________________________*/
/*Header*/

    
header{
    background-color:white;
    background-size: cover;/*Size of background as the image size*/
    background-position: center;
    height: 10vh;/*100% to the view port*/
}





.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*What is the benifit of this?*/
}


.Logo {
    height: 50px;
    width: auto;
    float: left;
    padding: 5px 0;
    
/*    padding top and bottom: 5px;*/
}

.Navigation-bar{
    float: right;
    list-style: none;
    margin-top: 20px;
    
}

.Navigation-bar li {
    display: inline-block;
    margin-left: 40px;
    
}

.Navigation-bar li a:link,
.Navigation-bar li a:visited{
    padding: 2px 4px;
    color: black;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.2s;
}

.Navigation-bar li a:hover,
.Navigation-bar li a:active{
    border-bottom: 3px solid #57d446;
}


.sticky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    

}   
      

/*Header*/
/*_____________________________________________*/

.section-essay{
    margin-top: 20px;
    margin-bottom: 20px;
}
 

/*Footer*/

.icons{
    width:25px;
    height:25px;
}

footer {
    background-color: #333;
    padding: 10px;
    font-size: 80%;
}


.social-media {
    list-style: none;
    float: right;
}


.social-media li {
    display: inline-block;
    margin-right: 20px;
}



.social-media li a:link,
.social-media li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
    transition: color 0.2s;
}


.social-media li a:link,
.social-media li a:visited {
    font-size: 160%;
}

    
footer p {
    color: #888;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}


    