* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}




html {
  background-color: white;
  font-family: 'Raleway', 'Caveat', 'Arial', 'sans-serif';
  /*main font Gugi and other extras*/
  font-size: 20px;
  /*default size*/
}

/*_____________________________________________*/
/*Reusable Code*/
.row {
  max-width: 1400px;
  margin: 0px auto;  
}

.box{
    padding:1%;
}

h1 {
  padding-bottom: 30px;
  word-spacing: 5px;
  color: black;
  text-align: center;
  letter-spacing: 3px;
}

h1:after {
  display: block;
  height: 4px;
  background-color: orange;
  content: " ";
  width: 150px;
  margin: auto;
  margin-top: 5px;
}

input[type="text"],
input[type="email"],
/*select,*/

textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1.3px solid grey;
}

textarea {
  height: 120px;
}

/*-------Buttons--------*/
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 100px;
  transition: background-color 0.4s, border 0.4s, color 0.4s;
  margin-right: 15px;
}

input[type=submit] {
  background-color: #19b5fe;
  border: 1px solid #19b5fe;
  color: white;
}

input[type=submit]:hover,
input[type=submit]:active {
  background-color: #016d9f;
  border: 1px solid #016d9f;
  color: white;
}

/*Reusable Code*/
/*_____________________________________________*/
/*_____________________________________________*/
/*Header*/



.Logo {
    height: 50px;
    width: auto;
    float: left;
    padding: 5px 0;
    
/*    padding top and bottom: 5px;*/
}

.Navigation-bar {
    float: right;
    list-style: none;
    margin-top: 20px;
}

.Navigation-bar li {
    display: inline-block;
    margin-left: 40px;
}

.Navigation-bar li a:link,
.Navigation-bar li a:visited {
    padding: 2px 4px;
    color: black;
    text-decoration: none;
    font-size: 90%;
/*    border-bottom: 3px solid transparent;*/
    transition: border-bottom 0.2s;
}

.Navigation-bar li a:hover,
.Navigation-bar li a:active {
  border-bottom: 3px solid #57d446;
}



.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
   

}

/*Header*/
/*_____________________________________________*/



.Contact-form{
    padding-bottom: 70px;
}




/*Footer*/

.icons{
    width:25px;
    height:25px;
}

footer {
    background-color: #333;
    padding: 10px;
    font-size: 80%;
}


.social-media {
    list-style: none;
    float: right;
}


.social-media li {
    display: inline-block;
    margin-right: 20px;
}



.social-media li a:link,
.social-media li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
    transition: color 0.2s;
}


.social-media li a:link,
.social-media li a:visited {
    font-size: 160%;
}

    
footer p {
    color: #888;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}














