
.Logo{
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}



.Navigation-bar{
    float: right;
    list-style: none;
    margin-top: 20px;
    
}

.Navigation-bar li {
    display: inline-block;
    margin-left: 40px;
    
}

.Navigation-bar li a:link,
.Navigation-bar li a:visited{
    padding: 8px 4px;
    color: black;
    text-decoration: none;
    font-size: 90%;
/*    border-bottom: 3px solid transparent;*/
    transition: border-bottom 0.2s;
}

.Navigation-bar li a:hover,
.Navigation-bar li a:active{
    border-bottom: 3px solid #57d446;
}


.sticky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    

}